body {
  font-size: 22px; /* just for this demo */
  background-color:white;
  width: 100%;

}
header{
  background-attachment: fixed;
}

div{
  width: 100%;
}

h1{
  font-family:SimSun ;
}
p{
  font-family: SimSun;
}


table.co{
  border: 3px #4c92cc dashed;
  padding: 5px;
  min-width:100px;
  
}

td.co{
  background-color: rgb(48, 112, 197);
}

aside{
  margin-top: 300px;
  float: left;
  
}



#menu {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}


.coee{
  text-align:center;
  font-size:20px;
width:100%;
background-color: rgb(61, 56, 56);
color: #fff;
  position: relative;
  height:100px;
bottom: 0px;
margin: 0;
}

.asd{
  position: absolute;
  left: 40px;
  top: 1000px;

}

#MyBlog{

  position: absolute;  /*固定在網頁上不隨卷軸移動，若要隨卷軸移動用absolute*/

  top: 50%;  /*設置垂直位置*/

  right: -100px;  /*設置水平位置，依所放的內容多寡需要自行手動調整*/

  background: #ce3737;  /*背景顏色*/

  padding: 10px 20px;

  border-radius: 10px;  /*圓角*/

  -moz-border-radius: 10px;

  -webkit-border-radius: 10px;

}

#MyBlog:hover{  /*當滑鼠移至此區塊時，伸縮區塊*/

  right: -10px;

}

#MyBlog #title{

  padding-right: 5px;  /*讓標題與連結中間有空隙*/

}

article {
  float: left;
  padding: 20px;
  width: 70%;
 
  
}

nav {
  float: left;
  width: 30%;
  background-color: antiquewhite;
  background: rgb(102, 48, 48);
  padding: 20px;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

.coeee{
  text-align:center;
  font-size:40px;
width:100%;
background-color: rgb(61, 56, 56);
color: #fff;
  position: relative;
  height:40px;
bottom: 0px;
margin: 0;
top: -40px;
}

.pic{width:800px; height:650px;overflow:hidden;}
.pic img{transform:scale(1,1);transition: all 1s ease-out;}
.pic img:hover{transform:scale(1.2,1.2);}


.pica{width:200px; height:80px;overflow:hidden;}
.pica img{transform:scale(1,1);transition: all 1s ease-out;}
.pica img:hover{transform:scale(1.2,1.2);}

.goods img:hover {
  animation: myfirst 0.5s infinite;    /*無限次跳動   infinite*/
  
}

@keyframes myfirst {
  0% {
      transform: translate(0px, 0px);
  }
  50% {
      transform: translate(0px, -9px);
  }
  100% {
      transform: translate(0px, 0px);
  }
}

/*----------------------------------------*/


 

/*---------------------------------------*/

.textGradient {
   
  color: #ff8c00; /* fix for not webkit browsers */
  background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
}

.page {
  margin: 50vh auto;
  display: flex;
  max-width: 1140px;
  
  background-color:rgb(180, 192, 189);
  
}

.container {
  width: 100%;
  height: 80vh;
  background: #e9e4e4;
  border-radius: 30px;
  overflow: hidden;
}
.photo-container {
  position: relative;
  top: -90px; 
  left: -120px; 
  transform: rotate(10deg);
}
.photo-cont-item {
  display: flex;
  width: calc(380px * 6); 
}
  .photo-item {
    width: 320px;
    height: 180px;
    margin-right: 60px;
    margin-bottom: 60px;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  }



.animation-1 {
  animation: scroller 40s linear infinite;
  display: flex;
  width: calc(300px * 12);
}
.animation-2 {
  margin-left: 150px;
  animation: scroller 30s linear infinite;
  display: flex;
  width: calc(300px * 12);
}
.animation-3 {
  animation: scroller 50s linear infinite;
  display: flex;
  width: calc(300px * 12);
}




@keyframes scroller {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX( calc(-380px * 6) ); 
  }
}




.photo-1 {
  background-image: url(photo-img/1.jpg);
}
.photo-2 {
  background-image: url(photo-img/2.jpg);
}
.photo-3 {
  background-image: url(photo-img/3.jpg);
}
.photo-4 {
  background-image: url(photo-img/4.jpg);
}
.photo-5 {
  background-image: url(photo-img/5.jpg);
}
.photo-6 {
  background-image: url(photo-img/6.jpg);
}
.photo-7 {
  background-image: url(photo-img/7.jpg);
}
.photo-8 {
  background-image: url(photo-img/8.jpg);
}
.photo-9 {
  background-image: url(photo-img/9.jpg);
}
.photo-10 {
  background-image: url(photo-img/10.jpg);
}
.photo-11 {
  background-image: url(photo-img/11.jpg);
}
.photo-12 {
  background-image: url(photo-img/12.jpg);
}
.photo-13 {
  background-image: url(photo-img/13.jpg);
}
.photo-14 {
  background-image: url(photo-img/14.jpg);
}
.photo-15 {
  background-image: url(photo-img/15.jpg);
}
.photo-16 {
  background-image: url(photo-img/16.jpg);
}
.photo-17 {
  background-image: url(photo-img/17.jpg);
}
.photo-18 {
  background-image: url(photo-img/18.jpg);
}

/*背景*/
.bg{   

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -999;

}

.bg img{
  min-height: 100%;
  width: 100%;
}

/*特效*/

.font-f {
  font-family: 'Permanent Marker', cursive;
}

.mini-cont-separation {
  box-sizing: border-box;
  width: 100%;
  padding: 40vh 10vw;
  text-align: center;
}
.style-one {
  background-image: url('https://cob.cycu.edu.tw/wp-content/uploads/honor_20060103.jpg');
  background-repeat: no-repeat;
  opacity: 1;
  color: rgb(15, 15, 15);
}

.mini-cont-separation {
  box-sizing: border-box;
  width: 100%;
  padding: 30vh 5vw;
  text-align: center;
}

.border-decor-1 {
    font-size: 36px;
    border: 20px solid transparent;
    border-image-source: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1591679413/decor_kqedm6.svg);
    border-image-slice: 19;
    border-image-repeat: repeat;
    display: inline-block;
    padding: 6px 19px;
    
}



/* Animation */
.miniShowHideBorder {
    animation: miniShowHideBorder 1s linear 1s infinite alternate;
}
@keyframes miniShowHideBorder {
    0% {
        border-image-source: transparent;
    }
    100% {
        border-image-source: inherit;
    }
}


 /*slideshow*/



.theme img{
    width: 100%;
}

  /*slideshow*/
  

.mySlides {
    display: none;
}

.mySlides img {
    vertical-align: middle;/*垂直至中*/
    width: 1000px;
    height: 700px;
    margin-left: 19%;
    margin-top: 0%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;

}

.mySlides1 img {
    vertical-align: middle;/*垂直至中*/
    width: 1000px;
    height: 700px;
    margin-left: 19%;
    margin-top: 0%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;

}


.slide {
    width: 100%;
    position: relative;
    margin: auto;
    }


/*圖片左右兩邊圖標*/
.pre, .next {
    cursor: pointer;/*將鼠標移到圖片上可以看光標結果-手型。*/
    position: absolute;
    top: 53%;
    width: auto;
    padding: 0%;
    margin-left: 20%;
    color:#DDB7AB;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;/*是否可以選擇屬性指定的元素的文本*/
    }

 /*右邊按鈕-移到右邊*/
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;/*按鈕圖樣*/
    margin-right: 16%;
    }

 /*hover:當滑鼠移至超連結時，不論是文字變色、位移、換背景*/
    .pre:hover, .next:hover {
    background-color:#999B84;
    }



.cirbtn{
    margin-bottom:10px;
    display: flex;
    justify-content: center;
}


.cir {
cursor: pointer;/*指定指標的形狀:手型*/
height: 15px;
width: 15px;
margin: 1%;
background-color: #DDB7AB;
list-style-type: circle;
border-radius: 50%;
transition: background-color 0.6s ease; /*總時長0.6秒，ease速度曲線，轉變過程中由慢到快，再到慢结束。*/
}


/*'當滑鼠移到連結時超連結的樣式*/
.active, .cir:hover {
background-color:#999B84;
}

.footer{
	width:100%;
	/*background-color:#F0E5DE;*/
	background-color: rgb(61, 56, 56);
color: #fff;
    	position:relative;
        height: 150px;
        display: flex;
        justify-content:space-between;
    	



}
.co{
        text-align:center;
        font-size:20px;
     	width:100%;
	    /*background-color:#F0E5DE;*/
	    background-color: rgb(61, 56, 56);
       color: #fff;
        position:relative;
        height:100px;
    	bottom: 0%;
	margin: 0;
  
  
}
.web2 > iframe{
    width: 100%;
    height: 100%; 
    padding: 0;
}
.web2{
    width: 35%;
    margin-top: 3%;
    margin-left: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: left;
}
.web2 img{
    
    width:  400%;
    height: 900%;
}
.navbtn2 {
    width: 80%;
    overflow: hidden;
    border: none;
    background-color: inherit;
    font-family: inherit;
    display: flex;
    justify-content: space-evenly;
}
.navbtn2 h3{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.navbtn2 a{
    font-size: 20px;
    color: #844200;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
  
}
.navphoto2{
    width: 20%;
    outline: none;
    display: flex;
    justify-content: space-evenly;
    bottom:50px;
    right:20px;
}


.navphoto2 img{
    width: 85%;
    height: 40px;
    margin-top: 60px;
    display: flex;
    cursor: pointer;
}




