body {
  font-size: 22px; /* just for this demo */
  background-color:white;
  width: 100%;

}
header{
  background-attachment: fixed;
}

.textGradient {
   
  color: #ff8c00; /* fix for not webkit browsers */
  background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
}

.page {
  margin: 40vh auto;
  display: flex;
  max-width: 1140px;
  
  background-color:rgb(180, 192, 189);
  
}

.container {
  width: 100%;
  height: 80vh;
  background: #e9e4e4;
  border-radius: 30px;
  overflow: hidden;
}
.photo-container {
  position: relative;
  top: -90px; 
  left: -120px; 
  transform: rotate(10deg);
}
.photo-cont-item {
  display: flex;
  width: calc(380px * 6); 
}
  .photo-item {
    width: 320px;
    height: 200px;
    margin-right: 60px;
    margin-bottom: 60px;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  }



.animation-1 {
  animation: scroller 40s linear infinite;
  display: flex;
  width: calc(380px * 12);
}
.animation-2 {
  margin-left: 150px;
  animation: scroller 30s linear infinite;
  display: flex;
  width: calc(380px * 12);
}
.animation-3 {
  animation: scroller 50s linear infinite;
  display: flex;
  width: calc(380px * 12);
}




@keyframes scroller {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX( calc(-380px * 6) ); 
  }
}


.footer{
	width:100%;
	/*background-color:#F0E5DE;*/
	background-color: rgb(61, 56, 56);
color: #fff;
    	position:relative;
        height: 150px;
        display: flex;
        justify-content:space-between;
    	



}
.co{
        text-align:center;
        font-size:20px;
     	width:100%;
	    /*background-color:#F0E5DE;*/
	    background-color: rgb(61, 56, 56);
       color: #fff;
        position:relative;
        height:100px;
    	bottom: 0%;
	margin: 0;
  
  
}
.web2 > iframe{
    width: 100%;
    height: 100%; 
    padding: 0;
}
.web2{
    width: 35%;
    margin-top: 3%;
    margin-left: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: left;
}
.web2 img{
    
    width:  400%;
    height: 900%;
}
.navbtn2 {
    width: 80%;
    overflow: hidden;
    border: none;
    background-color: inherit;
    font-family: inherit;
    display: flex;
    justify-content: space-evenly;
}
.navbtn2 h3{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.navbtn2 a{
    font-size: 20px;
    color: #844200;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
  
}
.navphoto2{
    width: 20%;
    outline: none;
    display: flex;
    justify-content: space-evenly;
    bottom:50px;
    right:20px;
}


.navphoto2 img{
    width: 85%;
    height: 40px;
    margin-top: 60px;
    display: flex;
    cursor: pointer;
}





.photo-1 {
  background-image: url(1.jpg);
}
.photo-2 {
  background-image: url(2.jpg);
}
.photo-3 {
  background-image: url(3.jpg);
}
.photo-4 {
  background-image: url(4.jpg);
}
.photo-5 {
  background-image: url(5.jpg);
}
.photo-6 {
  background-image: url(6.jpg);
}
.photo-7 {
  background-image: url(7.jpg);
}
.photo-8 {
  background-image: url(8.jpg);
}
.photo-9 {
  background-image: url(9.jpg);
}
.photo-10 {
  background-image: url(10.jpg);
}
.photo-11 {
  background-image: url(11.jpg);
}
.photo-12 {
  background-image: url(12.jpg);
}
.photo-13 {
  background-image: url(13.jpg);
}
.photo-14 {
  background-image: url(14.jpg);
}
.photo-15 {
  background-image: url(15.jpg);
}
.photo-16 {
  background-image: url(16.jpg);
}
.photo-17 {
  background-image: url(17.jpg);
}
.photo-18 {
  background-image: url(18.jpg);
}

/*背景*/
.bg{   

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -999;

}

.bg img{
  min-height: 100%;
  width: 100%;
}

/*特效*/

.font-f {
  font-family: 'Permanent Marker', cursive;
}

.mini-cont-separation {
  box-sizing: border-box;
  width: 100%;
  padding: 40vh 10vw;
  text-align: center;
}
.style-one {
  background-image: url('https://cob.cycu.edu.tw/wp-content/uploads/honor_20060103.jpg');
  background-repeat: no-repeat;
  opacity: 1;
  color: #fff;
}

.mini-cont-separation {
  box-sizing: border-box;
  width: 100%;
  padding: 30vh 5vw;
  text-align: center;
}

.border-decor-1 {
    font-size: 36px;
    border: 20px solid transparent;
    border-image-source: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1591679413/decor_kqedm6.svg);
    border-image-slice: 19;
    border-image-repeat: repeat;
    display: inline-block;
    padding: 6px 19px;
    
}

.coee{
  text-align:center;
  font-size:20px;
width:100%;
background-color: rgb(61, 56, 56);
color: #fff;
  position: relative;
  height:100px;
bottom: 0px;
margin: 0;
}



.coeee{
  text-align:center;
  font-size:40px;
width:100%;
background-color: rgb(61, 56, 56);
color: #fff;
  position: relative;
  height:40px;
bottom: 0px;
margin: 0;
top: -40px;
}


/* Animation */
.miniShowHideBorder {
    animation: miniShowHideBorder 1s linear 1s infinite alternate;
}
@keyframes miniShowHideBorder {
    0% {
        border-image-source: transparent;
    }
    100% {
        border-image-source: inherit;
    }
}

