*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: '微軟正黑體',Arial,'標楷體';
    margin: 0px; 
    background-color:#eceae1; 
}

/*頁首頁尾開始*/
/*header*/

.header {
    background-color:#ded2c2;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content:space-between;
}

.web > a{
    width: 12%;
    height: 12%; 
    padding: 0;
}
.web{
    width: 20%;
    margin-left: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: left;
}
.web img{
    width: 1000%;
    height: 1000%;
   
}

.navbtn {
    width: 70%;
    overflow: hidden;
    border: none;
    display: flex;
    justify-content: space-evenly;
}

.navbtn a{
    font-size: 26px;
    color:  #844200;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin-top: 6%; 
}

/*'當滑鼠移到連結時超連結的樣式*/
.navbtn a:hover {
    text-decoration: underline;
}

/*搜尋鍵*/
.two{
    width: 25%;
}

.navex{
    margin-top: 35px;
    outline: none;
}
form.example{
    display: flex;
    outline: none;
    justify-content: center;
}

form.example input[type=text] {
    width: 70%;
    height: 30px;
    border: 1px black dotted;
    outline: none;
}
form.example button img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
form.example::after {
    content: "";
    clear: both;
    display:table;
}

.navphoto{
    display: flex;
    justify-content: space-evenly;
}
/*會員聊天愛心購物車圖片*/
.navphoto img{
    width: 76%;
    height: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navphoto1{
    font-size: 20px;
    width: 30%;
    height: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*footer*/
.footer{
    background-color: #ded2c2;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content:space-between;
}


.web2 > a{
    width: 12%;
    height: 12%; 
    padding: 0;
}
.web2{
    width: 20%;
    margin-left: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: left;
}
.web2 img{
    width:  900%;
    height: 900%;
       
}

.navbtn2 {
    width: 60%;
    overflow: hidden;
    border: none;
    background-color: inherit;
    font-family: inherit;
    display: flex;
    justify-content: space-evenly;
}
.navbtn2 h3{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.navbtn2 a{
    font-size: 20px;
    color: #844200;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    
}
.navphoto2{
    width: 20%;
    outline: none;
    display: flex;
    justify-content: space-evenly;
}
.navphoto2 img{
    width: 77%;
    height: 35px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*頁首頁尾結束*/

.theme img{
    width: 100%;
}




  /*slideshow*/
  

  .mySlides {
    display: none;
}

.mySlides img {
    vertical-align: middle;/*垂直至中*/
    width: 70%;
    height: 550px;
    margin-left: 15%;
    margin-top: 3%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;

}


    .slide {
    width: 100%;
    position: relative;
    margin: auto;
    }

/*圖片左右兩邊圖標*/
.pre, .next {
    cursor: pointer;/*將鼠標移到圖片上可以看光標結果-手型。*/
    position: absolute;
    top: 53%;
    width: auto;
    padding: 1%;
    margin-left: 16%;
    color:#DDB7AB;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;/*是否可以選擇屬性指定的元素的文本*/
    }

    /*右邊按鈕-移到右邊*/
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;/*按鈕圖樣*/
    margin-right: 16%;
    }

    /*hover:當滑鼠移至超連結時，不論是文字變色、位移、換背景*/
    .pre:hover, .next:hover {
    background-color:#999B84;
    }



.cirbtn{
    margin-bottom:10px;
    display: flex;
    justify-content: center;
}


.cir {
cursor: pointer;/*指定指標的形狀:手型*/
height: 15px;
width: 15px;
margin: 1%;
background-color: #DDB7AB;
list-style-type: circle;
border-radius: 50%;
transition: background-color 0.6s ease; /*總時長0.6秒，ease速度曲線，轉變過程中由慢到快，再到慢结束。*/
}

/*'當滑鼠移到連結時超連結的樣式*/
.active, .cir:hover {
background-color:#999B84;
}


/*圖片區1*/
.block1{
    display: flex;
    justify-content: space-between;
}
.block1 img{
    width: 30%;
    height: 30%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 18%;
}
.cc img{
    position: absolute;
    width: 30%;
    height: 56%;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}
.cc img:last-child:hover {
    opacity: 0;
}
.block2{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
    padding-bottom: 30%;

}
.block2 img{
    width: 20%;
    height: 45%;
    border-radius: 10%;
}
.dd img{
    position: absolute;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}
.dd img:last-child:hover {
    opacity: 0;
}
.ee img{
    position: absolute;

    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}
.ee img:last-child:hover {
    opacity: 0;
}
.ff img{
    position: absolute;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}
.ff img:last-child:hover {
    opacity: 0;
}


.blockcenter{
    width: 100%;
    display: flex;
    justify-content: center;
}
.blockcenter img{
    width: 20%;
    margin-top: 2%;
}

.block3{
    width: 100%;
    background-color:#eceae1;;
    display: flex;
    justify-content: center;
}
.block3center{
    background-color: #bfccd0;
    width: 50%;
    display: flex;
    justify-content: center;
}

.block3center img{
    width: 50%;
    margin-top:15%;
    margin-bottom: 15%;
}
.block4{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.block4 img{
    width: 80%;
    margin-top:10%;
    margin-bottom: 5%;
    
}



.block5{
    width: 70%;
    margin-bottom: 40%;
    display: flex;
    justify-content: space-around;
}
.block5 img{
    width: 27%;
    height: 53%;
    margin-top:10%;
    margin-bottom: 40%;
    border-radius: 10%;
}
.gg img{
    position: absolute;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}

.gg img:last-child:hover {
    opacity: 0;
}
.ii img{
    position: absolute;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}

.ii img:last-child:hover {
    opacity: 0;
}

.block6{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.block6 img{
    width: 25%;
    margin-top:10%;
    
}
/*圖片區結束*/





 /*Top*/

 #myBtn {

    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#bfccd0;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #dabfa5;
  }
  


  /*聊天室*/
  .form-container {
    width: 40%;
    padding: 10px;
    background-color:  #bfccd0;
}
  .form-container textarea {
    width: 80%;
    padding: 5%;
    margin: 5%;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}
  .form-container .btn {
    background-color:  #557571;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-bottom:10px;
   
  }
  .form-container .cancel {
    background-color: #d49a89 ;
  }
  .btnbtw{
      display: flex;
      justify-content: space-evenly;
  }
  .openBtn {
    border: none;
    outline: none;
    background-color: inherit;
  } 
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; 
  }
  .overlay-content {
    display: flex;
    justify-content: center;
    margin-top: 12%;
    width: 100%;
    text-align: center;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  .overlay .closebtn:hover {
    color: #ccc;
  }
  .form-container h1{
    margin-top: 2%;
    font-size: 60px;
  }
 

    /*版權*/
    .co{
        text-align: center;
        background-color: #ded2c2;
        padding-bottom: 2%;
      }