*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: '微軟正黑體',Arial,'標楷體';
    margin: 0px; 
    background-color:white; 
}

/*頁首頁尾開始*/
/*header*/

.header {
    background-color:#ded2c2;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content:space-between;
}

.web > a{
    width: 12%;
    height: 12%; 
    padding: 0;
}
.web{
    width: 20%;
    margin-left: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: left;
}
.web img{
    width: 1000%;
    height: 1000%;
 
}

.navbtn {
    width: 70%;
    overflow: hidden;
    border: none;
    display: flex;
    justify-content: space-evenly;
}

.navbtn a{
    font-size: 26px;
    color:  #844200;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin-top: 6%;
}



/*'當滑鼠移到連結時超連結的樣式*/
.navbtn a:hover {
    text-decoration: underline;
}

/*搜尋鍵*/
.two{
    width: 25%;
}

.navex{
    margin-top: 35px;
    outline: none;
}
form.example{
    display: flex;
    outline: none;
    justify-content: center;
}

form.example input[type=text] {
    width: 70%;
    height: 30px;
    border: 1px black dotted;
    outline: none;
}
form.example button img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
form.example::after {
    content: "";
    clear: both;
    display:table;
}

.navphoto{
    display: flex;
    justify-content: space-evenly;
}
/*會員聊天愛心購物車圖片*/
.navphoto img{
    width: 76%;
    height: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navphoto1{
    font-size: 20px;
    width: 30%;
    height: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*footer*/
.footer{
    background-color: #ded2c2;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content:space-between;
}
.web2 > a{
    width: 12%;
    height: 12%; 
    padding: 0;
}
.web2{
    width: 20%;
    margin-left: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: left;
}
.web2 img{
    width:  900%;
    height: 900%;
}
.navbtn2 {
    width: 60%;
    overflow: hidden;
    border: none;
    background-color: inherit;
    font-family: inherit;
    display: flex;
    justify-content: space-evenly;
}
.navbtn2 h3{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.navbtn2 a{
    font-size: 20px;
    color: #844200;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
  
}
.navphoto2{
    width: 20%;
    outline: none;
    display: flex;
    justify-content: space-evenly;
}
.navphoto2 img{
    width: 77%;
    height: 35px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


/*頁首頁尾結束*/

/*左右寬度*/
.Goods{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:#eceae1;
}

.menu-main{
    width: 100%;
    
}

/*下拉選單開始*/
.centertmenu{
    background-color:   #827e76;
    margin-top: 20%;
}
.menuh h2{
    font-size: 60px;
    width: 100%;
    margin: 5% 0%;
    text-align: center;
}

.accordion {
    color:white;
    cursor: pointer;
    padding: 2%; 
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 5%;
    outline: none;/*無外框*/
    font-size: 32px;
    transition: 0.4s;
    background-color:#DDB7AB;
}
.accordion a{
    text-decoration: none;
    color: white;
    text-align: center;
}
.accordion :hover{
     color: red;
}


/*下拉選單結束*/



/*三個詳情、運送、評價開始*/


.panel {
    margin-top: 2%;
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.pic{
	text-align:center;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}
.pic img{
	margin-bottom:30px;
}


.reviwe{
  display:inline;
  float: right;
  height: 70px;
  width:12%;
  margin: 2% 5%;
  font-size:22px;
  background-color:#F7FA9C;
  border:0;
  box-shadow: 0 6px #847E65;
  border-radius:10px;
  color:#7B7859;
  cursor: pointer;
}
.reviwe:active {
    background-color:#FAE4C0;
    box-shadow: 0 5px #514D3E;
    transform: translateY(4px);
}
.reviwe:hover{
  background-color:#FAE4C0;
  font-weight:bolder;
}
.reviwe:focus{
  outline:none;
}



.rewul{
font-size: 24px;
  display:inline-block;
  list-style-type:none;
  padding:0;
  padding-left:5%;
 
}
.rew{
  padding: 1% 0%;
  border-bottom:1px solid #AAA;
  position:relative;
}
.rewtxt{
  display:inline-block;
  margin-left:20px;
  padding-left:10px;
  position:relative;
  border-left:1px #AAA solid;
}	
.time{
  position:absolute;
  padding-right: 5%;
  right:0;
  bottom:0;
}
.rew_writeclass{
  padding: 1% 0%;
  border:3px #A35353 dashed;
  display:none;
}

form label{
  font-size:20px;
  font-weight:bolder;
  color:#A35353;
  margin-left:10px;
  margin-right:5px;
}
.show {display: block;}
.rewpost{
  display:inline-block;
  width:8%;
  height:50px;
  position:relative;
  margin-top: 1%;
  left:80px;
  border-radius:10px;
  background-color:#A35353;
  color:#FFFFFF;
  font-size:24px;
  cursor:pointer;
  border:0;
  box-shadow:4px 4px 4px #AAA;
}
.rewpost:active {
    transform: translateY(3px);
}
.rewpost:focus{
  outline:none;
}
form input[type=retext],select,textarea
{	
  font-size:16px;
  padding:1px;
  border-radius:5px;
  border:1px solid #E3ABAB;
}
form input[type=retext],select,textarea:focus
{
  outline:none;
}
.zz{
    display: flex;
    justify-content: center;
    margin-left:20px;
    padding-left:10px;

}

@-webkit-keyframes fadeEffect {
from {opacity: 0;}
to {opacity: 1;}
}



/*三個詳情、運送、評價結束*/






  

  /*聊天室*/
.form-container {
    width: 40%;
    padding: 10px;
    background-color:  #bfccd0;
}
.form-container textarea {
    width: 80%;
    padding: 5%;
    margin: 5%;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}
.form-container .btn {
    background-color:  #557571;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-bottom:10px;
}
.form-container .cancel {
    background-color: #d49a89 ;
}
.btnbtw{
      display: flex;
      justify-content: space-evenly;
}
.openBtn {
    border: none;
    outline: none;
    background-color: inherit;
} 
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; 
}
.overlay-content {
    display: flex;
    justify-content: center;
    margin-top: 12%;
    width: 100%;
    text-align: center;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}
.overlay .closebtn:hover {
    color: #ccc;
}
.form-container h1{
    margin-top: 2%;
    font-size: 60px;
}


   /*Top*/

#myBtn {

    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#bfccd0;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #dabfa5;
  
}
  /*版權*/
  .co{
    text-align: center;
    background-color: #ded2c2;
    padding-bottom: 2%;
  }